<div class="tabs-wrapper">
  <div class="tabs">
    <button
      class="tab"
      (click)="verUserList()"
    >
      <mat-icon style="font-size: 14px; display: flex; align-items: center;">arrow_back</mat-icon>
      Ir a Usuarios
    </button>
  </div>
</div>

<div>
  <div class="info-container">
    <h2>Crear usuario</h2>
  <a class="text">
    Crea y asigna permisos de acceso a la información. 💡Recuerda ingresar correctamente los datos para que podamos
    comunicarnos y ayudarte con las dudas.
  </a>
  </div>
  <div class="steps-container">
    <div class="stepper">
      <div class="step" [class.active]="currentStep === 1">
        <div class="circle">1</div>
        <div class="label">Ingresar datos</div>
      </div>
      <div class="line"></div>
      <div class="step" [class.active]="currentStep === 2">
        <div class="circle">2</div>
        <div class="label">Asignar perfil</div>
      </div>
      <div class="line"></div>
      <div class="step" [class.active]="currentStep === 3">
        <div class="circle">3</div>
        <div class="label">Seleccionar comercio</div>
      </div>
    </div>
  </div>

  <div class="contenido-tab">
    @if (currentStep === 1) {
      <h3>Hola que tal</h3>
      <app-user-data/>
    }

    </div>

</div>

<div class="contenedor-principal">

  <form [formGroup]="userForm" (ngSubmit)="submitForm()" style="width: 100%; max-width: 400px;">
    <mat-card class="p-4 rounded-xl shadow-md">
      <mat-card-title class="text-xl font-semibold mb-4">Crear Usuario</mat-card-title>
      <mat-card-content>
        <div style="display: flex; flex-direction: column; gap: 16px;">

          <mat-form-field appearance="outline">
            <mat-label>Conexión</mat-label>
            <mat-select formControlName="connection" required>
              <mat-option value="PoC-Portal-TBK-Internos">PoC-Portal-TBK-Internos</mat-option>
              <mat-option value="PoC-Portal-TBK-Comercios">PoC-Portal-TBK-Comercios</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Ingrese su correo electrónico" required />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="given_name" placeholder="Ingrese su nombre" required />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="family_name" placeholder="Ingrese su apellido" required />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nickname</mat-label>
            <input matInput formControlName="nickname" placeholder="Ingrese su apodo" />
          </mat-form-field>

          @if(userForm.get('connection')?.value === 'PoC-Portal-TBK-Internos') {
            <mat-form-field appearance="outline">
              <mat-label>E-Token</mat-label>
              <input matInput formControlName="username" placeholder="Ingrea e-token" required />
            </mat-form-field>
          } @else {
            <mat-form-field appearance="outline">
              <mat-label>Rut o identificador</mat-label>
              <input matInput formControlName="username" placeholder="Ingrese su RUT o identificador" required />
            </mat-form-field>
          }
        </div>
      </mat-card-content>

      <mat-card-actions class="flex justify-end mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting || userForm.invalid">
          Crear Usuario
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
