<div class="tabs-wrapper">
  <div class="tabs">
    <button
      class="tab"
      (click)="verUserList()"
    >
      <mat-icon style="font-size: 14px; display: flex; align-items: center;">arrow_back</mat-icon>
      Ir a Usuarios
    </button>
  </div>
</div>

<div>
  <div class="info-container">
    <h2>Editar usuario</h2>
  <a class="text">
    Modifica los datos, permiso asignado y comercios asignados al usuario.
  </a>
  </div>

  <div class="options">
    <div class="option">
      <div class="header-step">
        <div class="circle"> 1 </div>
        <h2>Datos</h2>
      </div>
    </div>
    <div class="option">
      <div class="header-step">
        <div class="circle"> 2 </div>
        <h2>Perfil asignado</h2>
      </div>
    </div>
    <div class="option">
      <div class="header-step">
        <div class="circle"> 3 </div>
        <h2>Comercio</h2>
      </div>
    </div>


  </div>

</div>

<div class="deletes-wrapper">
  <div class="deletes">
    <button
      class="delete"
      (click)="verUserList()"
    >
      <mat-icon style="font-size: 14px; display: flex; align-items: center;">delete</mat-icon>
      Eliminar usuarios
    </button>
  </div>
</div>