<div class="container">
    <div>
      <h1>Usuarios</h1>

      <div class="toolbar-filtros">
      <div class="filtros-busqueda">
        <div class="input-container">
          <div class="placeholder"> Busca por nombre, correo o RUT </div>
          <input
            type="text"
            class="input"
             [(ngModel)]="filtroBusqueda"
            (ngModelChange)="onFiltroCambiado()"
            placeholder="Buscar..."
          />
        </div>

        <div class="input-container">
          <div class="placeholder"> Estado </div>

          <div class="select-container">
            <select
              id="state"
              name="state"
              class="select-control"
              title="Selecciona el estado"
              [(ngModel)]="filtroEstado"
              (change)="onFiltroCambiado()"
            >
              <option disabled selected value="">Selecciona el estado</option>
              <option value="all">Todos</option>
              <option value="false">Activo</option>
              <option value="true">Bloqueado</option>
            </select>

            <span class="select-icon">&#x25BC;</span>
          </div>
        </div>

        <button class="button-icon" (click)="filtrarUsuarios()" [disabled]="!buscarHabilitado">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <button class="button" (click)="abrirModalCrearUsuario()">
        Crear usuario
        <mat-icon>person_add</mat-icon>
      </button>
    </div>

      <table mat-table [dataSource]="users ?? []" class="mat-elevation-z0 tabla-usuarios" multiTemplateDataRows>

        <!-- Columnas visibles -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let user" class="clickable">
            {{ user.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="email_verified">
          <th mat-header-cell *matHeaderCellDef>Email verificado</th>
          <td mat-cell *matCellDef="let user">{{ user.email_verified }}</td>
        </ng-container>

        <ng-container matColumnDef="blocked">
          <th mat-header-cell *matHeaderCellDef>Bloqueado</th>
          <td mat-cell *matCellDef="let user">
            <mat-slide-toggle
             [checked]="user.blocked"
             [disabled]="!tienePermiso('change:status')"
             (change)="onToggleBloqueo(user, $event)"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="reset">
          <th mat-header-cell *matHeaderCellDef>Reseteo contraseña</th>
          <td mat-cell *matCellDef="let user">
            <button class="send-button" (click)="cambiarPassword(user.email)" [disabled]="!tienePermiso('change:status')">
              <mat-icon>send</mat-icon>
            </button>
          </td>
        </ng-container>


        <!-- Columna "expandida" (en una fila nueva) -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
            @if (expandedUserId === row.user_id) {
              <div style="padding: 1rem;">
                <!-- 👇 Spinner si está cargando -->
                @if (cargandoDetalleId === row.user_id) {
                  <div class="spinner-container">
                    <mat-progress-spinner
                      mode="indeterminate"
                      diameter="50"
                      class="custom-spinner"
                    />
                  </div>
                } @else {
                  <!-- 👇 Detalles del usuario -->
                  <div class="detalle-usuario">
                    <p><strong>Username:</strong> {{ detallesUsuario?.username }}</p>
                    <p><strong>Correo:</strong> {{ detallesUsuario?.email }}</p>
                    <p><strong>Verificado:</strong> {{ detallesUsuario?.email_verified ? 'Sí' : 'No' }}</p>
                    <p><strong>Dirección:</strong> {{ detallesUsuario?.user_metadata?.address }}</p>
                    <p><strong>Organizaciones:</strong></p>
                    <ul>
                      @for (org of detallesUsuario?.organizations; track org.id) {
                        <li>
                          <strong>{{ org.display_name }}</strong> ({{ org.name }})
                          <ul>
                            @for (rol of org.roles; track rol.id) {
                              <li>{{ rol.name }}: {{ rol.description }}</li>
                            }
                          </ul>
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
            }
          </td>
        </ng-container>

        <!-- Encabezado -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Fila de datos principal -->
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="verDetalle(row.user_id)"
          style="cursor: pointer;"
        ></tr>

        <!-- Fila de detalle -->
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="row-expandida"
        ></tr>

      </table>

      @if(!users){
        <div class="spinner-container">
          <mat-progress-spinner
            mode="indeterminate"
            diameter="50"
            class="custom-spinner"
          />
        </div>
      } @else {
        <mat-paginator
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageIndex]="page - 1"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)">
        </mat-paginator>
      }

      
    </div>
  
</div>
