<mat-toolbar class="topbar">
  <div style="display: flex; align-items: center;">
    <img src="assets/Logotipo.png" alt="Logo transbank" style="height:25px; width:auto; margin-right: 1rem;" />
    @if (user) {
      <div class="user-section">
        <span class="user-info">
          Hola {{ user.name || user.email }}@if(org_name){: estás viendo la cuenta de {{ org_name }}}
        </span>
      </div>
    }
  </div>

  <div style="display: flex; align-items: center; gap: 1rem;">
    <span class="actual-date">{{ today | fechaFormal }}</span>
    
    <a class="user-gestion" matButton [matMenuTriggerFor]="menu">
       <span class="user-gestion">
          @if(user?.["org_id"] === "org_0GxkE40Cnmk20HN0"){Buscar Comercios}
          @else {¿Deseas cambiar de organización?}
       </span>
    </a>
    
    <mat-menu #menu="matMenu">
      @for (org of organizations; track org.id) {
        <button mat-menu-item (click)="changeOrganization(org.id)">
          {{ org.display_name }}
          @if( org_selected === org.id) {
            <mat-icon>check_circle</mat-icon>
          }
        </button>
      }
    </mat-menu>
    <a class="user-gestion" (click)="logout()">
      Cerrar sesión
      <mat-icon class="logout-icon">logout</mat-icon>
    </a>
  </div>
</mat-toolbar>

<div class="custom-sidenav-container">
  <nav class="custom-sidenav">
    <ul>
      @if (puedeVerBoton("users:manage")){
        <li>
          <a [routerLink]="['/my-users']" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            Mis usuarios
          </a>
        </li>
      } @if(puedeVerBoton("internal_user") && !puedeVerBoton("users:manage")){
        <li>
          <a [routerLink]="['/users']" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            Usuarios
          </a>
        </li>
      } @if(puedeVerBoton("ventas:read")){
        <li>
          <a >
            <mat-icon>monetization_on</mat-icon>
            Información de ventas y abonos
          </a>
        </li>
      } @if(puedeVerBoton("read:facturacion")){
        <li>
          <a >
            <mat-icon>receipt_long</mat-icon>
            Reportes y facturas
          </a>
        </li>
      } @if(puedeVerBoton("read:solicitudes")){
        <li>
          <a >
            <mat-icon>assignment</mat-icon>
            Solicitudes
          </a>
        </li>
      } @if(puedeVerBoton("anulaciones:read")){
        <li>
          <a >
            <mat-icon>cancel</mat-icon> 
            Anular ventas
          </a>
        </li>
      } @if(puedeVerBoton("contracargos:read")){
        <li>
          <a >
            <mat-icon>gavel</mat-icon>
            Resolución de contracargos
          </a>
        </li>
      } @if(puedeVerBoton("read:rep_estrategicos")){
        <li>
          <a >
            <mat-icon>insights</mat-icon>
            Reportes estratégicos
          </a>
        </li>
      }
    </ul>
  </nav>
  <main class="custom-content">
    <router-outlet></router-outlet>
  </main>
</div>
