:host {
  display: block;
}

.header-step {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-top: .5rem;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #D5006C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  background: #D5006C;
}

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3338;
  margin-left: .5rem;

}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #707382;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}

.perfiles-container {
  display: flex;
  gap: 16px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .perfil-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
    flex: 1;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #0000000A;
    box-shadow: 0px 0px 2px 0px #0E15201F;
    box-shadow: 0px 1px 2px 0px #0E15202E;
    border: 2px solid #FFFFFF;

  }

  .perfil-card.active {
    border: 2px solid #D5006C;
  }

  .perfil-card > .radio-container {
    align-self: flex-end;
  }

  .subroles {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

/* Oculta el radio nativo */
.radio-container input[type="radio"] {
  display: none;
}

.custom-radio {
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #D5006C;
  box-sizing: border-box;
  background-color: white;
}

.radio-container input[type="radio"]:checked+.custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #D5006C;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #D5006C;
}

.label-text {
  font-size: 14px;
  color: #333;
}

h3{
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3338;
  margin: 0;
}

.text-card{
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #5C6368;
  margin: 0;
  padding-top: .3rem;
  padding-bottom: .5rem;
}

.group-checkbox{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: .5rem;
}

::ng-deep .custom-checkbox.mat-mdc-checkbox .mdc-checkbox__background {
  border-color: #D5006C !important;
  background-color: transparent !important;
}

::ng-deep .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #d5006a04 !important;
  border-color: #D5006C !important;
}

::ng-deep .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
  stroke: #D5006C !important;
}

::ng-deep .custom-checkbox .mdc-checkbox__ripple {
  background-color: #D5006C1A !important;
}

/* Estado base: deshabilitado sin check */
::ng-deep .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-disabled .mdc-checkbox__background {
  background-color: #f0f0f0 !important;
  border-color: #ccc !important;
}

/* Estado: deshabilitado y marcado (checked + disabled) */
::ng-deep .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: white !important;
  /* fondo más gris */
  border-color: #A0AFCA !important;
}

/* Check (✓) en gris claro */
::ng-deep .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
  stroke: #A0AFCA !important;
  opacity: 0.6 !important;
}

/* Texto del label cuando está deshabilitado */
::ng-deep .custom-checkbox.mat-mdc-checkbox-disabled .mdc-label {
  color: #A0A0A0 !important;
}

/* Elimina el ripple en estado deshabilitado */
::ng-deep .custom-checkbox.mat-mdc-checkbox-disabled .mdc-checkbox__ripple {
  background: transparent !important;
}

.advanced-permissions {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3338;
}

.buttons-container {
  display: flex;
  margin-top: 16px; 
  gap: 16px;
  padding-left: 1.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #D5006C;
  color: white;
  padding: 0 24px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s, outline 0.2s ease-in-out;
  padding: 16px 32px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.button:hover {
  background: #E5397F;
}

.button:active {
  background: #B7006F;
}

.button:focus {
  outline: 3px solid #006AFF;
  outline-offset: 2px;
}

.button:disabled {
  background: #E7EBF3;
  color: #A0A0A0;
  cursor: not-allowed;
}

.secundary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: #D5006C;
  padding: 0 24px;
  border: none; 
  border: 1px solid #D5006C;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s, outline 0.2s ease-in-out;
  padding: 16px 32px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.secundary-button:hover {
  background: #D5006C0D;
}

.secundary-button:active {
  background: #D5006C1A;
}

.secundary-button:focus {
  outline: 3px solid #006AFF;
  outline-offset: 2px;

}

.secundary-button:disabled {
  background: #E7EBF3;
  color: #A0A0A0;
  cursor: not-allowed;
}