:host {
  display: block;
}

.layout {
  padding: 24px;
}

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2D3338;
}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #707382;
}

.contenido {
  margin-top: 1.5rem;
  border: 1px solid #C9D0E4;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
