:host {
  display: block;
}

.text{
  font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #707382;
}

.row-expandida td {
  padding: 0px 16px;
  background: #f9f9f9;
  border-top: none;
  border-bottom: 1px solid #e0e0e0;
}

.detalle-usuario {
  padding: 0;
  margin: 0;
}

.detalle-usuario p,
.detalle-usuario ul {
  margin: 4px 0;
}

.detalle-usuario ul {
  padding-left: 1rem;
}

table tr.mat-row,
table tr.mat-header-row {
  height: auto;
}

table td,
table th {
  padding: 8px 16px;
}

table tr.row-expandida {
  margin: 0;
  padding: 0;
  height: auto;
  background: none;
  border: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.estado-activo {
  background-color: #E8FCEE;
  color: #007A5A;
  font-size: 12px;
  font-weight: medium;
  /* verde */
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 9999px;
  /* círculo completo */
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.estado-bloqueado {
  background-color: #FFEEE5;
  color: #B7253F;
  font-size: 12px;
  font-weight: medium;
  /* verde */
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 9999px;
  /* círculo completo */
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
